<html>

<head>
    <title>Search Engine</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <header id="top-bar" class="d-flex">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="search-bar">
                            <input v-on:keyup.enter="checkQuery" class="form-control form-control-lg search-input"
                                type="text" v-model="query">
                            <span class="search-button">
                                <button v-on:click="checkQuery" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="error">
                            <p class="ml-2" v-if="errors">
                                {{ errors }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul class="nav" id="header-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#" v-on:click="gotoSearch" style="color:gray">Search</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" v-on:click="gotoKeywords" style="color:gray">Keywords
                                    List</a>
                            </li>
                        </ul>
                    </div>
                </div>
        </header>
        <div class="main-container container">
            <div class="row" v-if="page==1">
                <div class="col-md-8">
                    <h3 class="mb-4">Search Result</h3>
                    <p v-if="notfound">Not found</p>
                    <search-result v-for="result in results" v-bind:title="result.title" v-bind:url="result.url"
                        v-bind:date="result.last_modified" v-bind:score="result.score" v-bind:key="result.url">
                        <result-keyword v-bind:keywords="result.keywords"></result-keyword>
                        <hr>
                        <dropdown-url v-bind:urls="result.parent_urls">Parents</dropdown-url>
                        <dropdown-url v-if="result.child_urls" v-bind:urls="result.child_urls">Children
                        </dropdown-url>
                        <button v-on:click="loadGraph(result.pageID)" type="button" class="btn btn-light btn-graph"
                            data-toggle="modal" data-target="#graphModal">View
                            Parent Children Graph</button>
                    </search-result>
                </div>
            </div>
            <div class="row" v-else>
                <div class="col-md-8">
                    <div>
                        <h3>Keywords List</h3>
                        <br />
                        <button type="button" v-bind:class="selected(word)" v-for="word in keywords"
                            class="btn mr-2 mb-2" v-on:click="appendQuery(word)">{{word}}</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>Click on the keywords to form new query.</p>
                    <button type="button" v-for="word in newQuery" v-on:click="removeQuery(word)"
                        class="btn btn-light mr-2 mb-2">{{word}}</button>
                    <br />
                    <button type="button" v-bind:class="{disabled:!newQuery.length}" v-on:click="searchNewQuery"
                        class="btn btn-secondary keyword-btn">Go!</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="graphModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Parent Children Links Graph</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="graph">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        var result_parent = Vue.component('dropdown-url', {
            props: {
                urls: Array
            },
            template: `
            <div class="btn-group">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <slot></slot>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a v-for="url in urls" class="dropdown-item" _target="blank" v-bind:href="url">{{url}}</a>
                </div>
                </div>
            `
        })

        var result_keyword = Vue.component('result-keyword', {
            props: {
                keywords: Array
            },
            template: `
                <div>
                <span v-for="keyword in keywords" class="badge badge-light mr-2">{{keyword.word + " " + keyword.frequency}}</span>
                </div>
            `
        })


        var searchResult = Vue.component('search-result', {
            props: {
                title: String,
                url: String,
                date: String,
                score: Number

            },
            template: `
                <div class="card result">
                    <div class="card-body">
                        <p><a v-bind:href="url" class="title">{{title}}</a><span class="score">({{score.toFixed(3)}})</span></p>
                        <p><a v-bind:href="url" class="url">{{url}}</a></p>
                        <p class="date">{{date}}</p>
                        <slot></slot>
                    </div>
                </div>
            `
        })

        Vue.mixin({
            data: function () {
                return {
                    API_URL: 'http://localhost:8000/'
                }
            }
        });

        new Vue({
            el: '#app',
            data: {
                page: 1,
                errors: "",
                query: '',
                results: [],
                keywords: [],
                notfound: false,
                newQuery: []
            },
            methods: {
                checkQuery: function (e) {

                    if (!this.query) {
                        this.errors = "Search query cannot be empty";
                    } else {
                        this.errors = '';
                        this.search(this.query)
                    }

                    if (!this.errors) {
                        return true;
                    }

                    e.preventDefault();
                },

                search: function (query) {
                    this.notfound = false;
                    this.page = 1;
                    this.results = [];
                    axios.get(this.API_URL + "query/" + query)
                        .then(res => {

                            this.results = res.data.documents;
                            if (!res.data.documents) {
                                this.notfound = true;
                            }
                        })
                },

                gotoSearch: function () {
                    this.page = 1;
                },

                gotoKeywords: function () {
                    this.newQuery = [];
                    if (!this.keywords.length) {
                        axios.get(this.API_URL + "wordList")
                            .then(res => {
                                this.keywords = res.data.words;
                            })
                    }
                    this.page = 2;
                },
                appendQuery: function (word) {
                    if (!this.newQuery.includes(word))
                        this.newQuery.push(word);
                },
                removeQuery: function (word) {
                    var index = this.newQuery.indexOf(word);
                    if (index > -1) {
                        this.newQuery.splice(index, 1);
                    }
                },
                selected: function (word) {
                    if (this.newQuery.includes(word))
                        return "btn-secondary disabled";
                    else
                        return "btn-light";
                },
                searchNewQuery: function () {

                    this.query = this.newQuery.join(' ');
                    this.search(this.query);

                },
                loadGraph: function (id) {
                    d3.selectAll('#graph svg').remove();
                    d3.json("http://localhost:8000/graph/"+id, function (error, links) {
                        
                        var nodes = {};
                        links = links.EdgesString
                        // Compute the distinct nodes from the links.
                        links.forEach(function (link) {
                            link.source = nodes[link.source] ||
                                (nodes[link.source] = { name: link.source });
                            link.target = nodes[link.target] ||
                                (nodes[link.target] = { name: link.target });
                            link.value = 1;
                        });

                        var width = 600,
                            height = 500;

                        var force = d3.layout.force()
                            .nodes(d3.values(nodes))
                            .links(links)
                            .size([width, height])
                            .linkDistance(150)
                            .charge(-1000)
                            .on("tick", tick)
                            .start();

                        var svg = d3.select("#graph").append("svg")
                            .attr("width", width)
                            .attr("height", height);

                        // build the arrow.
                        svg.append("svg:defs").selectAll("marker")
                            .data(["end"])      // Different link/path types can be defined here
                            .enter().append("svg:marker")    // This section adds in the arrows
                            .attr("id", String)
                            .attr("viewBox", "0 -5 10 10")
                            .attr("refX", 15)
                            .attr("refY", -1.5)
                            .attr("markerWidth", 6)
                            .attr("markerHeight", 6)
                            .attr("orient", "auto")
                            .append("svg:path")
                            .attr("d", "M0,-5L10,0L0,5");

                        // add the links and the arrows
                        var path = svg.append("svg:g").selectAll("path")
                            .data(force.links())
                            .enter().append("svg:path")
                            //    .attr("class", function(d) { return "link " + d.type; })
                            .attr("class", "link")
                            .attr("marker-end", "url(#end)");

                        // define the nodes
                        var node = svg.selectAll(".node")
                            .data(force.nodes())
                            .enter().append("g")
                            .attr("class", "node")
                            .call(force.drag);

                        // add the nodes
                        node.append("circle")
                            .attr("r", 5);

                        // add the text 
                        node.append("text")
                            .attr("x", 12)
                            .attr("dy", ".35em")
                            .text(function (d) { return d.name; });

                        // add the curvy lines
                        function tick() {
                            path.attr("d", function (d) {
                                var dx = d.target.x - d.source.x,
                                    dy = d.target.y - d.source.y,
                                    dr = Math.sqrt(dx * dx + dy * dy);
                                return "M" +
                                    d.source.x + "," +
                                    d.source.y + "A" +
                                    dr + "," + dr + " 0 0,1 " +
                                    d.target.x + "," +
                                    d.target.y;
                            });

                            node
                                .attr("transform", function (d) {
                                    return "translate(" + d.x + "," + d.y + ")";
                                });
                        }
                    });
                }

            }
        })
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <style>

    </style>
</body>

</html>