<html>

<head>
    <title>Search Engine</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <header id="top-bar" class="d-flex">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="search-bar">
                            <input v-on:keyup.enter="checkQuery" class="form-control form-control-lg search-input"
                                type="text" v-model="query">
                            <span class="search-button">
                                <button v-on:click="checkQuery" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="error">
                            <p class="ml-2" v-if="errors">
                                {{ errors }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul class="nav" style="float:right">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Keywords List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul>
                    </div>
                </div>
        </header>
        <div class="container">
            <div class="row search-result">
                <div class="col-md-8">
                    <div v-if="!results.length">
                        <h4>Not Found</h4>
                    </div>
                    <search-result v-else v-for="result in results" v-bind:title="result.title" v-bind:url="result.url"
                        v-bind:date="result.last_modified" v-bind:key="result.url">
                        <result-keyword v-bind:keywords="result.keywords"></result-keyword>
                        <br>
                        <dropdown-url v-bind:urls="result.parent_urls">Parents</dropdown-url>
                        <dropdown-url v-if="result.child_urls.length" v-bind:urls="result.child_urls">Children</dropdown-url>
                    </search-result>
                </div>
                <div class="col-md-4">
                    <!--graph-->
                </div>
            </div>

        </div>
    </div>
    <script>

        var result_parent = Vue.component('dropdown-url', {
            props: {
                urls: Array
            },
            template: `
            <div class="btn-group">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <slot></slot>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a v-for="url in urls" class="dropdown-item" href="#">{{url}}</a>
                </div>
                </div>
            `
        })

        var result_keyword = Vue.component('result-keyword', {
            props: {
                keywords: Array
            },
            template: `
                <div>
                <span v-for="keyword in keywords" class="badge badge-light mr-2">{{keyword.word + " " + keyword.frequency}}</span>
                </div>
            `
        })

        var searchResult = Vue.component('search-result', {
            props: {
                title: String,
                url: String,
                date: String,

            },
            template: `
                <div class="card result">
                    <div class="card-body">
                        <p class="title">{{title}}</p>
                        <p class="url">{{url}}</p>
                        <p class="date">{{date}}</p>
                        <slot></slot>
                    </div>
                </div>
            `
        })

        Vue.component('app-user', {
            data: function () {
                return {
                    users: [
                        { name: 'Max', age: 27 },
                        { name: 'Chris', age: 30 },
                        { name: 'Nora', age: 25 },
                    ]
                }
            },
            template: `
      <div>
        <div class="user" v-for="user in users">
        <p>User: {{user.name}}</p>
        </div>
      </div>
        `
        });
        Vue.mixin({
            data: function () {
                return {
                    API_URL: 'http://localhost:8000/'
                }
            }
        });

        new Vue({
            el: '#app',
            data: {
                errors: "",
                query: '',
                results: []
            },
            methods: {
                checkQuery: function (e) {

                    if (!this.query) {
                        this.errors = "Search query cannot be empty";
                    } else {
                        this.errors = '';
                        this.search(this.query)
                    }

                    if (!this.errors) {
                        return true;
                    }

                    e.preventDefault();
                },

                search: function (query) {
                    this.results = []
                    axios.get(this.API_URL + "query/" + query)
                        .then(res => {
                            this.results = res.data.documents;
                        })
                }



            }
        })
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
    
    </style>
</body>

</html>